<div class="w-full">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>JK Blogs</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>logout</mat-icon>
   </button>
 </mat-toolbar>
</div>
<div class="is-flex-grow-1">
  <router-outlet></router-outlet>
</div>
<div>
  <mat-toolbar color="primary">
   <span>@Copyright</span>
   <span class="example-spacer"></span>
   <span>Footer</span>
 </mat-toolbar>
</div>
