/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/theming';
@import "../node_modules//@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/helpers/visibility";
@import "../node_modules/bulma/sass/helpers/flexbox";
@import "../node_modules/bulma/sass/helpers/spacing";
@import "../node_modules/bulma/sass/helpers/typography";

$spacing-unit: 4px;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.example-spacer {
  flex: 1 1 auto;
}
.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}

@for $i from 1 through 6 {
  .fg-#{$i} {
    gap: $spacing-unit * $i;
  }
}

@for $i from 1 through 6 {
  .fgc-#{$i} {
    column-gap: $spacing-unit * $i;
  }
}

@for $i from 1 through 6 {
  .fgr-#{$i} {
    row-gap: $spacing-unit * $i;
  }
}

.blog-dashboard-card-shadow {
  // Adds a shadow for elevation level 2 with color #e91e63 and 80% of the default opacity:
  @include mat-elevation(5, #e91e63, 1);
}